
body{
	font-family: Florence, cursive;
	margin-bottom : 50px;
	margin-left : 50px;
	margin-right : 50px;
	margin-top : 50px;
	border: 10px groove white;
	padding-top: 10px;
	padding-bottom: 20px;
    padding-left: 10px;
    padding-right : 10px;
	background: azure;
}


.footer-size{
	font-size : 12px;
	font-family: Florence, cursive;
	margin-bottom : 5px;
}
.link_size{
    font-size : 15px;
    font-family: Florence, cursive;
    background : linear-gradient(rgb(193, 230, 162),white);
    padding-top: 12px;
    margin-top: 4px;
    padding-bottom: 10px;
    border-radius: 23px;
    margin-bottom: 12px;
    text-align: center;
}

.link_size a{
    margin: 5px;
}

img{
    margin-top: 10px;
}

.line{
    text-decoration: line-through;
}

.list{
    white-space: pre;
}
button{
    font-size:18px;
    margin-top: 25px;
    border-radius: 23px;
    height: 70px;
    width: 140px;
    background:orange;
    margin-bottom: 25px;
    cursor: pointer;
    
}
a{
    text-decoration: none;
    opacity: 1;
    transition: opacity 5s;
    font-weight: bold;}

a:hover{
    color:chocolate;
    opacity:0.2;
}

.return_button{
    background:#c1f70c;
    border-radius: 25px;
    padding:7px 7px 7px 7px;
    margin-bottom: 20px;
}
.contact:hover{
    animation-name: anim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}

.main_part{
    text-align: left;
}
.page_change{
    text-align: center;
}

hr{
    border-style: solid;
    border-width: thick;
    border-color:linear-gradient(rgb(193, 230, 162),white);
}

#slidebar{
    border:7px solid chocolate;
}
#resume_image{
    animation-name: anim2;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
#profile_image{
    animation-name:anim3;
    animation-duration:3s;
    animation-iteration-count: 1;
}

.profile_pic img{
    width: 320px;
}

.profile_pic{
    text-align: center;
    display: block;
}

.contact_menu img{
    width: 50px;
}

.resume{
    text-align: center;
    display: block;
}

.resume img{
    width: 600px;
}

@media all and (max-width: 1024px) {

    body{
        color : black;
        font-size : 37px;
    }
    .main_part{
    text-align: left;
}
    .link_size{
        font-size : 42px;
        display: inline;
    }
    
    .link_size a{
        display: block;
    }
    
    .footer-size{
        font-size : 20px;
    }
    #slidebar{
        width: 400px;
        height: 350px;
    }
    .page_change{
        display: none;
    }
    .profile_pic img{
    width: 95%;
    }
    .contact_menu img{
    width: 100px;
    }
    
    .resume img{
    width: 95%;
}


}

/* mobile phone */
@media all and (max-width: 768px) {
    body{
        font-size : 37px;
        
    }
    .link_size{
        font-size : 42px;
        display: inline;
    }
    
    .link_size a{
        display: block;
    }
     .page_change{
        display: none;
    }
    .profile_pic img{
    width: 95%;
    }
    .contact_menu img{
    width: 100px;
    }
    
        .resume img{
    width: 95%;
}
}
@keyframes anim{
    0%{transform:rotate(45deg);}
    25%{transform:rotate(90deg);}
    50%{transform:rotate(180deg);}
    75%{transform:rotate(270deg);}
    100%{transform:rotate(360deg);}
}

@keyframes anim2{
    0%{transform:scale(4,4);}
    25%{transform:rotate(6deg);}
    50%{transform:rotate(-6deg);}
    75%{transform:rotate(15deg);}
    100%{transform:rotate(-15deg);}
}
@keyframes anim3{
    0%{transform:scale(2,2);}
    25%{transform:rotate(3deg);}
    50%{transform:rotate(-3deg);}
    75%{transform:rotate(5deg);}
    100%{transform:rotate(-5deg);}
}