
body{
	font-family: Florence, cursive;
	margin-bottom : 50px;
	margin-left : 50px;
	margin-right : 50px;
	margin-top : 50px;
	border: 10px groove white;
	padding-top: 10px;
	padding-bottom: 20px;
    padding-left: 10px;
    padding-right : 10px;
	background: azure;
}
.footer-size{
	font-size : 12px;
	font-family: Florence, cursive;
	margin-bottom : 5px;
}
.link_size{
    font-size : 15px;
    font-family: Florence, cursive;
    background : linear-gradient(rgb(193, 230, 162),white);
    padding-top: 12px;
    margin-top: 4px;
    padding-bottom: 10px;
    border-radius: 23px;
    margin-bottom: 12px;
}
img{
    margin-top: 10px;
}

.line{
    text-decoration: line-through;
}

.list{
    white-space: pre;
}
button{
    font-size:18px;
    margin-top: 25px;
    border-radius: 23px;
    height: 70px;
    width: 140px;
    background:orange;
    margin-bottom: 25px;
    cursor: pointer;
    
}
a{
    text-decoration: none;
    opacity: 1;
    transition: opacity 5s;
}

a:hover{
    color:chocolate;
    opacity:0.2;
}

.return_button{
    background:#c1f70c;
    border-radius: 25px;
    padding:7px 7px 7px 7px;
    margin-bottom: 20px;
}
.contact:hover{
    animation-name: anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
table.menu_right{
    display : none;
    border-collapse:separate;
    border-spacing: 20px;
    border-width:thick;
    border-style:solid;
    caption-side: top;
    border-radius: 23px;
    background:linear-gradient(orange,white);
}

.main_part{
    text-align: center;
}
.page_change{
    text-align: center;
}


@media all and (max-width: 1024px) {

    body{
        background: azure;
        color : black;
        font-size : 37px;
    }
    .main_part{
    text-align: left;
}
    .link_size{
        font-size : 42px;
        display: none;
    }
    table.menu_right{
        margin-top: 100px;
        margin-right:10px;
        display : block;
        float : right;
        font-size : 32px;
        
    }
    footer{
        display: none;
    }
    #slidebar{
        width: 320px;
        height: 240px;
    }
    .page_change{
        display: none;
    }


}

/* mobile phone */
@media all and (max-width: 768px) {
    body{
        background:darkcyan;
        font-size : 37px;
        
    }
    .link_size{
        font-size : 42px;
        display: none;
    }
      table.menu_right{
        display : block;
        float : right;
        font-size : 32px;
    }
     .page_change{
        display: none;
    }
}
@keyframes anim{
    0%{transform:scale(4,4);}
    25%{transform:rotate(90deg);}
    50%{transform:rotate(180deg);}
    75%{transform:rotate(270deg);}
    100%{transform:rotate(360deg);}
}