
body{
	font-family: Florence, cursive;
	margin-bottom : 50px;
	margin-left : 50px;
	margin-right : 50px;
	margin-top : 50px;
	border: 10px groove white;
	padding-top: 10px;
	padding-bottom: 20px;
    padding-left: 10px;
    padding-right : 10px;
	background: azure;
}
.footer-size{
	font-size : 12px;
	font-family: Florence, cursive;
	margin-bottom : 5px;
}
.link_size{
    font-size : 15px;
    font-family: Florence, cursive;
}

.line{
    text-decoration: line-through;
}

.list{
    white-space: pre;
}